*{
    padding: 0; /*Added the default setting for css styling*/
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace; /*Added a generic font family */
}

section{ /*For the background content*/
    background-color: tan; 
    min-height: 100vh; 
    width: 100%; /* Wanted the section to take 100% of the website, the calculator will be placed in the middle*/
    display: flex; /* Content will be placed in the middle */
    align-items: center; /*Content in the center*/
    justify-content: center; /*Content in the center*/
}
.container{
    width: 100%; 
    max-width: 400px; /*The width of the calculator*/
    background-color: navajowhite;
    border-radius: 8px;
    overflow: hidden; /*Hides the overlap*/
}

.display{
    background-color: wheat;
    height: 100px;  
    width: 100%; /* Takes entire available space, as wide as the parent element (section).*/ 
    text-align: right; /*Text is align to the right*/
    padding: 20px; /*The distance from the border*/
    font-size: 30px;
    position: relative; /*Normal position*/
}

display-1{
    opacity: .4;
    font-size: 10px;
    height: 20px;
    overflow: hidden;
}


.temp-results{
    position: absolute; /*Can position where I want in the page in conjunction to the parent element*/
    bottom: 0; /* Placed the value at the bottom left of the display*/
    left: 10; 
    font-size: 20px;
    opacity: .4; /*How much the number fades(transparency) into the background*/
}


.all_button{
color: 	#DEB887; 
display: grid; /*Gives the content the display of a grid */
grid-template-columns: 1fr 1fr 1fr 1fr; /* The grid is divided by four equal columns */
}



.button{
    border: .5px solid burlywood;
    height: 100px; /*Follows parent element alignment*/
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer; /*Makes cursor turn into a pointer*/
    display: flex;

}






.button:hover{
    background-color: cornsilk; /* Changes the color of the button when the pointer hover over */
}




.btn-0{
    grid-column: 1/3; /*Makes the grid grow in size from 1 to 3. Starting from the left*/
}